/* CSS COMÚN */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Glass+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Glass Antiqua" ;
    font-weight: 700;
}

html,
body {
    /* max-width: 1200px; */
    background: #678A58;
    /* padding: 20px; */
}
img {
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

header {
    text-align: center;
    padding: 2rem;
}


p, span {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 4rem;
}

/* MENÚ RESPONSIVE (con bootstrap)*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.8rem;
    z-index: 1000;
}



.navbar-toggler-icon {
    margin: 0;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

/* PESTAÑA PRINCIPAL */

/* CARRUSEL */



/* INTRO */

.intro {
    width: 100%;
    padding: 2rem;
    background-color: #ABCFC7;
    position: relative;

}

.intro h1 {
    color: #ff6d0c;
    display: flex;
    justify-content: center;
    margin: 0%;
}

.intro > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 1em;
}

.intro > div > p {
    text-align: justify;
    width: 65%;
    font-size: 1.05em;
    padding: 0 2em;
}

.intro > div > div {
    width: 35%;
}

.intro > div > div > img {
    width: 90%;
    border-radius: 20px 0px 20px 0px;

}


/* VISIRANOS*/

.accordion-collapse {
    transition: height 0.4s ease;
}
  
.accordion-button {
    transition: background-color 0.4s ease, transform 0.4s ease;
}
  
/* .accordion-button:not(.collapsed) {
    background-color: #7EA099;
} */


/* GALERÍA DE IMAGENES - scroll reveal js*/

.galeria {
    background-color: #8D52A3;
}

.galeria h1 {
    margin-bottom: 0;
}


.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper {
    background-color: #8D52A3;
    padding: 6em 10%;
    /* position: absolute; */
    width: 100%;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.grid-wrapper > div:hover > img {
    transform: scale(1.05); 
    opacity: 0.9; 
}

.grid-wrapper .wide {
    grid-column: span 1;
}

.grid-wrapper .wide > img {
    border-radius: 0.5rem 5rem;
}

.grid-wrapper .tall {
    grid-row: span 2;
    border-radius: 5px;
}

.grid-wrapper .tall > img {
    border-radius: 5rem 0.5rem;
}

.grid-wrapper .big {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .big > img {
    border-radius: 0rem 5rem 5rem 0rem;
}

.grid-wrapper .medium {
    grid-column: span 1;
}

.grid-wrapper .medium > img {
    border-radius: 1.5rem 0rem 5rem 0rem;
}

.grid-wrapper .normal {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .normal > img {
    border-radius: 5rem 0rem 5rem 0rem;
}

footer {
    text-align: center;
    padding: 2rem;
    color: aliceblue;
}


 /* PESTAÑA ENTRADAS*/
 
.entradas {
    padding: 6em 10%;
    background-color: #E9E2C5;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
}

.entradas .cartas {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.entradas .card {
    margin-bottom: 3em;
}

.entradas .card-img-top {
    height: auto;
    object-fit: cover;
    max-height: 10em;
    width: 100%;
}

.entradas .card-body {
    border-radius: 0 0 5px 5px;
    background-color: rgba(255, 255, 255, 0);
}

.entradas .card-body > p {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

.entradas .card-title {
    margin-bottom: 0.75rem;
    font-size: 1.6rem;
}


/* FOOTER */

.container {
	max-width: 1400px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: var(--black);
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: var(--white);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    font-family: 'Source Code Pro';
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--blue);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    font-family: 'Roboto Mono';
}

.footer-col ul li a:hover {
	color: var(--blue);
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--white);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--black);
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: var(--white);
	background-color: var(--green);
}


/* MEDIA-QUERY */

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 1;
        grid-row: span 2;
    }
}