/* CSS COMÚN */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Glass+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Glass Antiqua" ;
    font-weight: 700;
}

html,
body {
    max-width: 1200px;
    margin: 0 auto;
    background: #678A58;
    /* background: #8d52a3; */
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

header {
    text-align: center;
    padding: 2rem;
}


p, span {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

body {
    padding-top: 4rem;
}

/* MENÚ RESPONSIVE (con bootstrap)*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.8rem;
    z-index: 1000;
}



.navbar-toggler-icon {
    margin: 0;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

/* PESTAÑA PRINCIPAL */




/* GALERÍA DE IMAGENES - scroll reveal js*/
.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper {
    padding: 6em 10%;
    background-color: #8D52A3;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.grid-wrapper > div:hover > img {
    transform: scale(1.05); 
    opacity: 0.9; 
}

.grid-wrapper .wide {
    grid-column: span 1;
}

.grid-wrapper .wide > img {
    border-radius: 0.5rem 5rem;
}

.grid-wrapper .tall {
    grid-row: span 2;
    border-radius: 5px;
}

.grid-wrapper .tall > img {
    border-radius: 5rem 0.5rem;
}

.grid-wrapper .big {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .big > img {
    border-radius: 0rem 5rem 5rem 0rem;
}

.grid-wrapper .medium {
    grid-column: span 1;
}

.grid-wrapper .medium > img {
    border-radius: 1.5rem 0rem 5rem 0rem;
}

.grid-wrapper .normal {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .normal > img {
    border-radius: 5rem 0rem 5rem 0rem;
}

footer {
    text-align: center;
    padding: 2rem;
    color: aliceblue;
}


 /* PESTAÑA ENTRADAS*/
 
.entradas {
    padding: 6em 10%;
    background-color: #E9E2C5;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
}

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 1;
        grid-row: span 2;
    }
}