/* CSS COMÚN */
    /* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Mono+One&display=swap');
    /* TÍTULOS */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Glass+Antiqua&display=swap');
    /* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Glass Antiqua" ;
    font-weight: 00;
}

html,
body {
    /* max-width: 1200px; */
    background: #8D52A3;
    /* padding: 20px; */
}
img {
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

header {
    text-align: center;
    padding: 2rem;
}

h1 {
    text-align: center;
    padding: 2rem;
}

p, span {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Lato';
}

body {
    padding-top: 4rem;
}


/* MENÚ RESPONSIVE (con bootstrap)*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.8rem;
    z-index: 1000;
}

.navbar-expand-lg .container-fluid > a {
    font-family: "Fleur De Leah", cursive;
    font-size: 2rem;
    padding: 0;
}

.navbar-toggler-icon {
    margin: 0;
}


.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.form-control {
    width: 90%;
}

/* CARRUSEL */



/* COMPRA ENTRADAS */

.compra-entradas {
    width: 100%;
    padding: 2rem;
    background-color: #7EA099;
    position: relative;

}

.compra-entradas a {
    place-self: center;
    font-family: 'Lato';

} 

.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 2.5rem;
    --bs-btn-font-size: 2.5rem;
    padding: 3rem 7rem
}

.btn-primary {
    --bs-btn-border-color: none;
}



/* INTRO */

#intro {
    width: 100%;
    padding: 2rem;
    background-color: #D6F5F0;
    position: relative;

}

#intro .titulo {
    color: #8D52A3;
    display: flex;
    justify-content: center;
    margin: 0%;
    font-size: 4rem;
}

#intro > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em 0em 0em 0em;
}

#intro > div > p {
    text-align: justify;
    width: 65%;
    font-size: 1.05em;
    padding: 5em 8em 0em;
}

#intro > div > div {
    width: 35%;
    padding: 0em 0em 0em 4em;
}

#intro > div > div > img {
    width: 80%;
    border-radius: 200px 200px 0px 0px;

}

#intro > .introleft {
    padding: 0rem 0rem 0rem 4.75rem;
}


/* VISIRANOS*/


.accordion-item .accordion-collapse .accordion-body {
    font-size: 1.25rem;
}

.accordion-collapse {
    transition: height 0.4s ease;
}
  
.accordion-button {
    transition: background-color 0.4s ease, transform 0.4s ease;
    font-size: 2rem;
    text-align: center;
}
  



/* GALERÍA DE IMAGENES - scroll reveal js*/

.galeria {
    background-color: #A0A6D6;
}

.galeria h1 {
    margin-bottom: 0;
}


.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper {
    background-color: #A0A6D6;
    padding: 4em 10%;
    /* position: absolute; */
    width: 100%;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.grid-wrapper > div:hover > img {
    transform: scale(1.05); 
    opacity: 0.9; 
}

.grid-wrapper .wide {
    grid-column: span 1;
}

.grid-wrapper .wide > img {
    border-radius: 0.5rem 5rem;
}

.grid-wrapper .tall {
    grid-row: span 2;
    border-radius: 5px;
}

.grid-wrapper .tall > img {
    border-radius: 5rem 0.5rem;
}

.grid-wrapper .big {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .big > img {
    border-radius: 0rem 5rem 5rem 0rem;
}

.grid-wrapper .medium {
    grid-column: span 1;
}

.grid-wrapper .medium > img {
    border-radius: 1.5rem 0rem 5rem 0rem;
}

.grid-wrapper .normal {
    grid-column: span 1;
    grid-row: span 3;
}

.grid-wrapper .normal > img {
    border-radius: 5rem 0rem 5rem 0rem;
}


.vermas {
    width: 100%;
    padding-bottom: 4rem;
    background-color: #A0A6D6;
    position: relative;
}

.vermas a {
    place-self: center;
}

.vermas .btn-primary {
    --bs-btn-border-color: none;
    --bs-btn-font-size: 1.2rem;
    padding: 1rem 10rem;
}

footer {
    text-align: center;
    padding: 2rem;
    color: aliceblue;
}


/* PESTAÑA ENTRADAS*/
 
.entradas {
    padding: 6em 10%;
    background-color: #8D52A3;
    top: 50px;
    left: 0;
    width: 100vw;
}

.entradas .cartas {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.entradas .card {
    margin-bottom: 3em;
    --bs-card-border-color: none;
}

.entradas .card-img-top {
    height: auto;
    object-fit: cover;
    max-height: 10em;
    width: 100%;
}

.entradas .card-body {
    border-radius: 0 0 5px 5px;
    background-color: rgba(255, 255, 255, 0);
}

.entradas .card-body > p {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

.entradas .card-title {
    margin-bottom: 0.75rem;
    font-size: 1.6rem;
}


/* SABER MÁS */

.saber-mas {
    width: 100%;
    padding-bottom: 8rem;
    background-color: #8D52A3;
    position: relative;
}

.saber-mas a {
    place-self: center;
} 

.saber-mas .btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 2.5rem;
    --bs-btn-font-size: 2.5rem;
    padding: 1.5rem 5rem
}

.saber-mas .btn-primary {
    --bs-btn-border-color: none;
}


/* FOOTER */

.container {
	max-width: 1400px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

ul {
	list-style: none;
}

.footer {
	background-color: #5252A3;
    padding: 70px 60px 60px;
    position: relative;
}


.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col > h5 {
	font-size: 25px;
    margin-bottom: 2rem;
    color: white;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
    font-family: 'Lato';
}

.footer-col ul li a:hover {
	color: rgb(0, 0, 0);
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 20px 15px 0;
	text-align: center;
	line-height: 40px;
}

.footer-col .social-links a:hover {
	color: var(--black);
	background-color: var(--green);
}


/* MEDIA-QUERY */

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 1;
        grid-row: span 2;
    }
}